/** {
	border: 1px dashed white;
}*/
html, body {
	font-size: 18px;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-size: cover;
}
@media all and (max-width: 768px) {
	html, body {
		font-size: 22px;
	}
	body #me {
		max-width: 19rem;
	}
	body #me p {
		font-size: 0.8rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	body #me img {
		margin-bottom: 1.2rem;
		max-width: 35%;
	}
	body #me div {
		margin-top: 0;
	}
	body #projects h1 {
		font-size: 2rem;
	}
	body #projects div {
		max-width: 90%;
	}
	body #projects div p {
		margin-left: 0.2rem;
		margin-right: 0.2rem;
	}
	body #projects div:not(first-child) {
		margin-left: 0px;
	}
	body #skills h1 {
		font-size: 2rem;
	}
	body #skills div {
		max-width: 90%;
		padding-left: 0;
	}
	body #skills div:nth-child(3) {
		margin-bottom: 2rem;
	}
	.skillList {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}
	.skillList ul {
		margin-bottom: 0.5rem
	}
	.skillList li {
		font-size: 1.1rem;
	}
	.skillList ul li {
		font-size: 1rem;
		padding-left: 2rem;
		list-style-type: none;
	}
	body #home h1 {
		font-size: 2rem;
	}
	body nav.main {
		font-size: 0.5rem
	}
	body #contact {
		width: 100%;
	}
	body #contact li {
		margin-left: 0.9rem;
	}
}
#contact {
   padding: 0px;
   background-color: rgba(110, 125, 114, 0.6);
   visibility: hidden;
   float: right;
   height: 2.2em;
}

#contact ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}
#contact li {
   float: right;
   padding: 0.16em 0.4em;
   margin: 0 0.6em 0 0;
   color: #fff8e1;
   list-style-type: none;
}
#contact li a {
   color: #fff8e1;
   text-decoration: none;
   display: block;
}
#contact li a:hover {
   text-decoration: underline;
}
br.clearLeft {
   clear: right;
}
#home {
	margin: 0 auto;
	padding: 6.7rem;
	padding-top: 1.1rem;
	padding-bottom: 0;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	background-color: #7d726e;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: #fff8e1;
	position: relative;
	height: 100%;
}
#home h1 {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 3.5rem;
}


#me {
	max-width: 40rem;
	margin: auto;
	/* margin-top: auto; */
	/* margin-bottom: auto; */
}


#me img{
	max-width: 35%;
	/* height: 58%; */
	box-shadow: 0 0.16rem 0.9rem 0.1rem rgba(0, 0, 0, 0.71);
	display: inline-block;
}

#me div {
	margin: auto;
	margin-top: 3rem;
	display: inline-block;
	vertical-align: top;
	font-size: 1.5rem;
	padding-top: 0;
	max-width: 100%;
}
#me div p {
	margin-top: 0;
	margin-bottom: 0;
}

#projects {
  margin: 0 auto;
  padding: 0;
  background-color: #6E797D;
  background:
  linear-gradient(
  		rgba(110, 121, 125, 0.65),
      	rgba(110, 121, 125, 0.65)
    ),
		url("../images/SQL-Snippet.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#projects h1 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 5rem;
	text-align: center;
	font-size: 3.5rem;
}

#projects h2 {
	font-family: 'Orbitron', sans-serif;
}

#projects div {
	display: inline-block;
	vertical-align: top;
	margin: 0.6rem auto;
	max-width: 45%;
	/* height: 34.56rem; */
	padding-top: 0.83rem;
	background-color: #6e797d;
	border-radius: 0.17rem;
	box-shadow: 0 0.17rem 0.9rem 0.111rem rgba(0, 0, 0, 0.71);
	font-family: sans-serif;
}
#projects div:not(first-child) {
	margin-top: 1.1rem;
	margin-left: 20px;
}
#projects div img {
	max-width:90%;
}

#projects div p {
	margin: 1rem 2rem 0 2rem;
	font-size: 1rem;
}

#projects div p a:link, a:visited {
	color: #fff8e1;
}

#projects div p a:link:active, a:visited:active {
	color: #fff8e1;
}

nav.main {
	height: 5.56rem;
	position: absolute;
	width: 100%;
	bottom: -1.28rem;
	left: 0;
	z-index: 999;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-bottom: 0;
	font-size: 0.9rem;
}

nav.main ul {
	max-width: 30.56rem;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
	display: block;
	border-top: 0.056rem solid #E6E0CB;
	text-align: center;
	padding: 0 0 0 0;
}

nav.main li {
   display:inline-block;
   *display:inline; /*IE7*/
   *zoom:1; /*IE7*/
   margin-right: 1.1rem;
   padding-bottom: 0;
}

nav.main li:nth-child(5) {
	margin-right: 0;
}

nav.main a {
	display: block;
	color: #fff8e1;
	text-transform: uppercase;
	padding-top: 1.56rem;
	padding-bottom: 0;
	border-top: 0.111rem solid transparent;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
}

nav.main a:hover {
	border-top: 0.111rem solid #E6E0CB;
}
.toprojects:hover {
	background: linear-gradient(135deg, rgba(84,74,82,0) 0%, rgba(84,74,82,0.76) 100%);
}
.toservices:hover {
	background: linear-gradient(135deg, rgba(162,149,159,0) 0%, rgba(162,149,159,0.76) 100%);
}
.tocontact:hover {
	background: linear-gradient(135deg, rgba(121,125,110,0) 0%, rgba(121,125,110,0.76) 100%);
}
.togithub:hover {
	background: linear-gradient(135deg, rgba(110,125,114,0) 0%, rgba(110,125,114,0.76) 100%);
}
.tolinkedin:hover {
	background: linear-gradient(135deg, rgba(110,121,125,0) 0%, rgba(110,121,125,0.76) 100%);
}

nav.sticky {
	position: fixed;
	color: #000;
	width: 100%;
	left: 0;
	z-index: 999;
	padding: 0;
	margin: 0;
	text-align: center;
	top: 0;
	bottom: auto;
}

nav.sticky ul {
	text-align: left;
	height: 2.78rem;
	padding: 0 0 0 2.22rem;
	margin: 0;
}

nav.sticky li {
   display:inline-block;
   *display:inline; /*IE7*/
   *zoom:1; /*IE7*/
   margin-left: 1.1rem;
	margin-right: 1.1rem;
	vertical-align: middle;
	height: 2rem;
}

nav.sticky a {
	text-transform: uppercase;
	color: #E6E0CB;
	margin-top: 0.61rem;
	display: inline-block;
	height: 100%;
}

nav.sticky a.active {
	border-bottom: 0.056rem solid #c0bc93;
}

nav.sticky a:hover {
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
	border-bottom: 0.056rem solid #5D6D63;
}

nav ul {
	padding: 0;
	list-style: none;
}

nav a {
	height: 2.78rem;
}

#skills {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	background-color: #6e7d72;
	margin: 0;
	bottom: 0;
	color: #fff8e1;
}

#skills h1 {
	font-size: 3.5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 5rem;
}

#skills div {
	margin: 0 0 0 0px;
	vertical-align: top;
    /* Firefox */
	text-align: center;
	overflow: hidden;
	max-width: 35%;
	display: inline-block;
	display:-moz-inline-box;
	-moz-box-pack:center;
	-moz-box-align:center;

    /* Safari and Chrome */
	/* display:-webkit-inline-box; */
	/* -webkit-box-pack:center; */
	/* -webkit-box-align:center; */

    /* W3C */
	display: inline-box;
	box-pack:center;
	box-align:center;
	padding-left: 75px;
}

.skillList {
	list-style-type: none;
	font-size: 1.7rem;
	text-align: left;
	/* padding-left: 111px; */
}

.skillList ul li {
	color: black;
}

.skillList ul {
	list-style-type: square;
	font-size: 1.4rem;
	font-family: sans-serif;
}